<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key ="sValueCurFile" value = "D:\\CallController.log"/>  
    <add key ="sValueCurWord" value="StarWars" />
    
  </appSettings>
</configuration>